:root {
    --main-clr: #2196F3;
    --txt-clr: #212121;
    --main-bg-clr: #ffffff;
}
body {
    color: var(--txt-clr);
    font-family: "Roboto";
    background-color: var(--main-bg-clr);
    position: relative;
    width: 1600px;
}
/* хедер */
.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: #000000;
    text-decoration: none;
}

header {
    width: 1600px;
    height: 80px;
    left: 0px;
    top: 0px;
}

span {
    color: var(--main-clr);
}

ul {
    list-style: none;
    display: inline-flex;
}

a {
    text-decoration: none;
}

.logo {
    padding: 24px 93px 25px 215px;
}

.address {
    display: list-item;
    
}

.horisontal-nav {
    width: 281px;
    height: 16px;
    left: 453px;
    top: 32px;
    display: inline-flex;
    padding: 32px 93px 32px 344px;
    vertical-align:baseline;
    color: var(--txt-clr);
}

.horisontal-nav [href="./index.html"] {
    padding: 0px 50px 0px 0px;
}

.horisontal-nav [href="./portfolio.html"] {
    padding: 0px 50px 0px 0px;
}

.horisontal-ul [href="mailto:info@devstudio.com"] {
    width: 135px;
    height: 16px;
    left: 1078px;
    top: 32px;
    padding: 32px 50px 32px 344px;
}

.horisontal-ul [href="tel:+380961111111"] {
    width: 122px;
    height: 16px;
    left: 1263px;
    top: 32px;
    padding: 32px 93px 32px 50px;
}

/* шапка */

.main-page {
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;
    background: #2F303A;
}

.wrapper>h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 200px 452px 30px 452px;
}

.wrapper>button {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    width: 216px;
    height: 50px;
    left: 692px;
    top: 430px;
    background-color: var(--main-clr);
    border-radius: 4px;
    border: 0;
    margin: 30px 692px 20px 692px;
}

/* Особливості */

.facts>h2 {
    display: none;
    padding: 94px 215px 94px 215px;
}

.facts>ul {
    width: 1170px;
    height: 98px;
    left: 215px;
    top: 774px;
}

.facts>h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;   
    color: var(--txt-clr);
}

.facts>p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;    
    color: #757575;
}

